body { 
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
}

:is(thead, tbody tr > td:first-child, #exchange-rate) {
  font-weight: bold;
}

:is(.hide, .loading-hide) {
  display: none;
}
